body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* section{
	background-color:#FFA000;
	height: auto;
	background-size:cover: 
} */
#section-top{

	/* background-color:#FFA000; */
}
#section-top .row{
	padding-top:70px;

}
#section-top .card{
	width: 18rem;
	margin:10px;
	/* border:2px solid #FFA000; */
	border-radius: 10px;

}

#section-detail{
	margin-top:20px;
	padding-top:50px;
	height: 50vh;

}
#section-detail .jumbotron{
	text-align: center;
	padding:10px;
}
#section-detail .row{
	margin-top:50px
}

#section-detail .card{
	margin-top:10px;
	height: 20vh;
	border-radius: 10px;
	text-align: center;
	font-family: bold;
}

#section-footer{
	/* background-color: #FFA000; */
	margin-top: 5px;
	padding:10px;
}
#section-footer .row{
	margin-top: 10px;
	padding:10px;
}
#section-footer .card{
	margin-top: 10px;
	padding:10px;
	
}