{% extends 'base.html' %}

{% block title %}{{title}} {%endblock title %}

{% block body %}
<section id="section-top" style="margin-bottom: 10px">
	<div class="container-fluid">
		<div class="container-fluid">
			<div class="container">
				<div class="">
					<h3>World stats</h3>
				</div>
				<div class="row" >
					<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
						<div class="card shadow-lg p-3 mb-5 bg-white rounded" >
							<div class="card-body">
								<h2>Infected</h2>
								<h3>
									<span class="badge badge-warning">{{total_infected}}</span>
								</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
						<div class="card shadow-lg p-3 mb-5 bg-white rounded">
							<div class="card-body">
								<h2>Deaths</h2>
								<h3>
									<span class="badge badge-danger">{{total_deaths}}</span>
								</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
						<div class="card shadow-lg p-3 mb-5 bg-white rounded">
							<div class="card-body">
								<h2>Recovered</h2>
								<h3>
									<span class="badge badge-success">{{total_recovered}}</span>
									</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
						<div class="card shadow-lg p-3 mb-5 bg-white rounded">
							<div class="card-body">
								<h2>Active</h2>
								<h3>
									<span class="badge badge-info">{{total_active}}</span>
								</h3>
							</div>
						</div>
					</div>
					<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
						<div class="card shadow-lg p-3 mb-5 bg-white rounded">
							<div class="card-body">
								<h2>Countries</h2>
								<h3>
									<span class="badge badge-info">{{num_countries}}</span>
								</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="container-fluid">
	<div class="row"  id="index-card">
		{% if countries %}
			{% for country in countries %}
		<div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
			<a href="{{url_for('country_detail', name=country.name)}}" style="text-decoration: none">
				<div class='' style="margin-right: ;">
					<div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height: 15rem;" >
						<div class="card-body" style="text-align: center;">
							<h3 class="card-title" style="margin:1px;padding:1px;">{{country.name}}</h3>
							<hr>
						</div>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Infected<span class="badge badge-warning"  style="margin-right: 5px">{{country.infected}}</span>Death<span class="badge badge-danger">{{country.deaths}}</span></li>
							<li class="list-group-item">Recovered<span class="badge badge-success"  style="margin-right: 5px">{{country.recovered}}</span>Active<span class="badge badge-info">{{country.active}}</li>
						</ul>
					</div>
				</div>
			</a>
		</div>
		{% endfor %}
		{% else %}
			<div class="container">
				<div class="jumbotron">
					<p>No data avalaible<a href="{{url_for('reload')}}">Reload</a> to have latest data on COVID 19</p>
				</div>
			</div>
		{% endif%}
	</div>
</div>

{% endblock body %}